body {
  max-width: 768px;
  margin: 0 auto;
}

.image {
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.cols {
  padding-right: 5px;
  padding-left: 5px;
}

.header .topnav {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 60px;
}

.header .topnav .nav {
  font-size: 20px;
  color: #000;
}

.header .topnav .nav:hover {
  color: #000;
}

.header .topnav .nav.title {
  font-size: 30px;
}

.header .topnav .nav.mail {
  font-size: 28px;
  color: #000;
}

.header .topnav .nav.house {
  position: relative;
  width: 30px;
  height: 28px;
  color: #000;
}

.header .topnav .nav.house .house-image {
  position: absolute;
  background-image: url('../images/house.png');  
  z-index: 1;
}

.header .topnav .nav.house .house-mask-image {
  position: absolute;
  background-image: url('../images/house-mask.png');  
  background-position: 1px -2px;
  z-index: 2;
}


.header #banner_slider .carousel-inner .item {
  max-height: 500px;
  height: 500px;
}

.header #banner_slider .carousel-inner .item a {
  display: block;
  position: relative;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header #banner_slider .carousel-inner .item a.banner1 {
  background-image: url('../images/banner1.jpg');
}

.header #banner_slider .carousel-inner .item a.banner2 {
  background-image: url('../images/banner2.jpg');
}

.header #banner_slider .carousel-inner .item a.banner3 {
  background-image: url('../images/banner3.jpg');
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 0;
}

.toolbar .tool {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20%;
  text-decoration: none;
  color: #000;
}

.toolbar .tool img {
  width: 90%;
  height: auto;
}

.toolbar .tool span {
  font-size: 16px;
}

.credit {
  padding: 0 16px;
}

.credit img {
  margin: 16px auto;
  border-radius: 16px;
}

/*borrow index*/
.form-group .control-label {
  padding-top: 11px;
}

.loan-highlight-text {
  color: #ec8558;
}

.modal .modal-body {
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}

.modal .modal-footer {
  padding: 0;
  color: #5497da;
}

.modal .request-loan {
  border-left: 1px solid #ccc;
}

.modal .loan-modal-button {
  cursor: pointer;
  padding: 15px 0;
}

.flex-wrap {
  display: flex;
  flex-direction: row;
}

.flex1 {
  flex: 1;
  text-align: center;
  margin: 0 auto;
}

.topnav .back {
  display: table;
}

.back .back-icon {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url('../images/reg_black_left_arrow.png'); 
}

.loan-price {
  color: #ec8558;
}

.loan-time {
  font-size: 12px;
}

.process {
  display: flex;
  font-size: 20px;
  color: #aaa;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid #333;
}

.process .active {
  color: #ec8558;
}

.result {
  padding: 20px 10px;
  color: #aaa;
  font-size: 20px;
}

.loan-kind {
    background-color: #f2f3eb;
    border-bottom: 1px solid #aaa;
    padding: 20px 10px;
    color: #aaa;
}

.loan-kind .kind-body {
  margin-top: 50px;
}

.loan-kind .kind-body select {
  width: 100px;
}

.start-loan {
  border-top: 1px solid #aaa;
  color: #aaa;
  background-color: #f0f0f0;
}

.start-loan .loan-button {
  margin-top: 10px;
  display: block;
  background-color: #fee841;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-image: url('../images/usd.png');  
  background-repeat: no-repeat;
  font-size: 30px;
  line-height: 220%;
  background-size: 35px;
  background-position: calc( 50% - 100px );
}

.descripton .title p {
  font-size: 20px;
  color: #333;
  padding: 20px 0;
}

.descripton .content p {
  font-size: 16px;
}
/*bank card*/
form .reqire-icon {
  color: red;
}

.main-loan-area {
  background-color: #f0f0f0;
}

.loan-form {
  font-size: 16px;
  color: #aaa;
}

.loan-form .form-control, .loan-form .form-control:focus {
  border: none;
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.loan-form .form-group {
  background-color: #fff;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.loan-form .form-group .control-label {
  color: #aaa;
}

.loan-form .submit-button {
  margin-top: 20px;
  width: 100%;
  border: none;
  border-radius: inherit;
  background-color: #ec8558;
  color: #fff;
  background-image: none;
}

.loan-form .submit-button[disabled] {
  background-color: #ccc;
}

.agree-checkbox input[type=checkbox] {
  border: none;
  border-radius: 0;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-appearance: none;
  outline: 0;
}
.agree-checkbox input[type=checkbox]:checked {
    background-image: url('../images/reg_hook.png');
}

.agree-checkbox input[type=checkbox]:not(:checked) {
    background-image: url('../images/reg_hook_blank.png');
}

#bank_card_form .form-group {  
  margin-left: 10px;
  margin-right: 10px;
}

#bank_card_form .control-label {
  padding-top: 11px;
}

#bank_card_form .form-group .arrow {
  float: right;
  margin-right: 10px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  width: 15px;
  height: 15px;
  background-image: url('../images/profile_right_arrow.png'); 
}

.back-card-title {
  color: #ec8558;
  padding: 20px;
}

/*request*/
form#request_loan_form {
  margin: 10px;
}

#request_loan_form .checkbox-form-group {
  background-color: #f0f0f0;
}

#request_loan_form .agree-checkbox {
  display: table;
  margin-top: 20px;
}

#request_loan_form .agree-checkbox input[type=checkbox] {
  margin-top: 0;
  vertical-align: middle;
}

#request_loan_form .checkbox-label {
  font-size: 12px;
  color: #ccc;
}

.main-loan-area .loan-detail {
  margin: 0 10px 20px;  
  border-top: 2px solid #333;
  font-size: 15px;
  color: #aaa;  
}

.main-loan-area .loan-detail .loan-wrap {
  margin: 0 10px;
  background-color: #f2f3eb;
  border-bottom: 2px solid #aaa;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.59);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.59);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.59);
}

.loan-detail .detail-row {
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 10px 0;
  justify-content: space-between;
  border-bottom: 1px solid #aaa;
}

.loan-detail .detail-row:last-child {
  border: 0;
}

.loan-detail .detail-row .detail-value {
  margin-bottom: 0;
}

.loan-detail .detail-row .detail-unit {
  color: #333;
}

.main-loan-area.request-success {
  background-image: url('../images/request-success.png'); 
}

/*footer*/
.footer .bottomnav {
  background-color: #787878;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  border-top: 2px solid #6a6a6a;
}

.footer .bottomnav .nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
  color: #FFF;
  text-decoration: none;
  padding: 16px 0;
  width: calc( (100% - 9px) / 4);
}

.footer .bottomnav .bar {
  border: 0px solid #7c7c7c;
  background-color: #6a6a6a;
  border-left-width: 1px;
  border-right-width: 1px;
  height: 100%;
  width: 3px;
}

.footer .bottomnav .nav img {
  width: 40%;
}

/*modal*/
.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}
.modal-content {
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

@media screen and (max-width: 640px) {
  .header #banner_slider .carousel-inner .item {
    max-height: 400px;
    height: 400px;
  }

  .header #banner_slider .carousel-inner .item a {
    height: 400px;
  }

  .footer .bottomnav {
    height: 90px;
  }

  .modal.fade {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .header #banner_slider .carousel-inner .item {
    max-height: 360px;
    height: 360px;
  }

  .header #banner_slider .carousel-inner .item a {
    height: 360px;
  }

  .footer .bottomnav {
    height: 80px;
  }
}

@media screen and (max-width: 360px) {
  .header #banner_slider .carousel-inner .item {
    max-height: 300px;
    height: 300px;
  }

  .header #banner_slider .carousel-inner .item a {
    height: 300px;
  }

  .footer .bottomnav {
    height: 60px;
  }
}

@media screen and (max-width: 320px) {
  .header #banner_slider .carousel-inner .item {
    max-height: 280px;
    height: 280px;
  }

  .header #banner_slider .carousel-inner .item a {
    height: 280px;
  }

  .footer .bottomnav {
    height: 60px;
  }
}